<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AuDT - Auditory Tool</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>

</head>

<body>

    <nav>
        <!-- include the nav file -->

        <div class="logo">
            <a href="index.html"><img src="{{ url_for('static', filename='images/logo.svg') }}" alt="audt logo"></a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#aboutus">About Us</a></li>
                <li><a href="#features">Features</a></li>
                <!-- <li><a href="">FAQ</a></li> -->
            </ul>
            <!-- <label for="menuchkbox" class="">menu</label> -->
            <!-- <input id="menuchkbox" type="checkbox"> -->
        </div>
    </nav>
    <header>

        <div class="container">

            <h1>AuDT the tool to keep your performance checks.</h1>

            <form action="report.html" method="POST">
                <label for="url"></label>

                <div class="inputurl">
                    <input type="text" name="url" placeholder="Introduce a URL..." id="url">
                    <button type="submit" name="urlSubmit">Check it!</button>
                </div>
                <p>Message about GDPR. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iusto, tempore labore laboriosam corrupti iure dolor laborum accusantium adipisci dolore?
                    <a href="">link to whatever need to link</a>
                </p>
            </form>
        </div>

    </header>

    <main>
        <!-- Add main file here -->
        <div class="aboutus" id="aboutus">
            <div class="container">
                <div class="aboutusContent">
                    <div class="text">
                        <h2>What's AuDT?</h2>
                        <p>FoxAuDT basicly is a tool to have a historical of the auditories carried out through the development or testing stage. As web/app developers we have faced some difficulties during the testing, some changes can leave bad performance
                            or issues without noticing it. Can you guess a CMS already deployed and the client upload huge images, or leave dead links, how that would represent on the SEO? AuDT store previous auditories, compare them and show you some
                            clues about where the site could have issues. It is based on the Google Dev tool, lighthouse running the lastest version.</p>
                    </div>
                    <img src="{{ url_for('static', filename='images/aboutuspic.jpg') }}" alt="measures and infographics">
                </div>
            </div>
        </div>

        <div class="features" id="features">
            <div class="container">
                <h2>What metrics AuDT carry out?</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet voluptatem doloremque eos aut, doloribus cumque aspernatur veniam maxime dolorum ipsa numquam iste, dolore omnis illo beatae, quas minima! Non, sed!</p>

                <div class="featureBox">
                    <h3><span class="iconify" data-icon="bx:bxs-down-arrow" data-inline="false" data-rotate="270deg"></span> Performance</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci similique doloribus aut et aperiam? Dolor natus enim ab voluptatum. Adipisci, beatae. Optio maxime voluptas, aliquid aliquam repellendus libero eaque recusandae.</p>
                </div>

                <div class="featureBox">
                    <h3><span class="iconify" data-icon="bx:bxs-down-arrow" data-inline="false" data-rotate="270deg"></span> Accesibility</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae omnis, natus magni ducimus repellat deleniti ad commodi quas placeat molestiae?</p>
                </div>
                <div class="featureBox">

                    <h3><span class="iconify rotated" data-icon="bx:bxs-down-arrow" data-inline="false" data-rotate="270deg"></span> Procedures</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, voluptatum!</p>
                </div>

                <div class="featureBox">

                    <h3><span class="iconify" data-icon="bx:bxs-down-arrow" data-inline="false" data-rotate="270deg"></span> SEO</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum officiis magnam repudiandae iusto molestias impedit dolores quia eligendi, in minima possimus quibusdam dolorum facere dolor adipisci ipsam numquam quasi debitis.</p>
                </div>

                <div class="featureBox">
                    <h3> <span class="iconify" data-icon="bx:bxs-down-arrow" data-inline="false" data-rotate="270deg"></span> Size</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, hic!</p>
                </div>

                <div class="featureBox">
                    <h3> <span class="iconify" data-icon="bx:bxs-down-arrow" data-inline="false" data-rotate="270deg"></span> Dead Links</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, voluptate.</p>
                </div>

                <div class="featureBox">
                    <h3>
                        <span class="iconify" data-icon="bx:bxs-down-arrow" data-inline="false" data-rotate="270deg"></span> ALT Property</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Magni, voluptate.</p>
                </div>



            </div>

        </div>
    </main>

    <footer>

        <!-- Add footer file here -->
        <div class="container ">
            <div class="footermenu ">
                <ul>
                    <li>Features</li>
                    <li>About Us</li>
                    <!-- <li>FAQ</li> -->
                </ul>
            </div>
            <div class="powered">
                <p>Powered by
                    <a href="">Lighthouse</a>
                </p>
                <p>Design & Development by
                    <a href="https://javierlopez.design">javierlopez.design</a>
                </p>
            </div>
        </div>
    </footer>

</body>

<script>
    $(document).ready(function() {
        $(".featureBox ").click(function() {
            $(this).children('p').slideToggle();
        });
    });
</script>

</html>