{% include "htmlHeaders.html" %}
{% include "nav.html" %}

<body>
    <main>
        <div class="containerReport">
            <h1>{{ report.url }}</h1>
            
            <div class="report">
                <div class="boxesContainer">
                    <!-- Performance -->
                    <div class="reportBox">
                        <div class="desktop">
                            <span class="iconify" data-icon="fe:desktop" data-inline="false"></span>
                            <h3>{{ report.performanceScore }}</h3>
                            {% if reportPrev.exists == 1 %}
                                <p class="compare">{{ report.performanceScore - reportPrev.performanceScore }}</p>
                            {% endif %}
                            
                        </div>
                        <!-- <div class="mobile">
                            <span class="iconify" data-icon="bx:bx-mobile-alt" data-inline="false"></span>
                            <h3>99</h3>
                            <p class="compare">+11</p>
                        </div> -->
                        <h2><span class="iconify" data-icon="gg:performance" data-inline="false"></span> Performance</h2>
                        <p>Optimizing your website's performance is crucial to increasing traffic, improving conversion rates, generating more leads, and increasing revenue.</p>
                    </div>
                    <!-- Accesibility -->
                    <div class="reportBox">
                        <div class="desktop">
                            <span class="iconify" data-icon="fe:desktop" data-inline="false"></span>
                            <h3>{{ report.accessibilityScore }}</h3>
                            {% if reportPrev.exists == 1 %}
                                    <p class="compare">{{ report.accessibilityScore - reportPrev.accessibilityScore }}</p>
                            {% endif %}
                        </div>
                        <!-- <div class="mobile">
                            <span class="iconify" data-icon="bx:bx-mobile-alt" data-inline="false"></span>
                            <h3>99</h3>
                            <p class="compare">+11</p>
                        </div> -->
                        <h2><span class="iconify" data-icon="la:universal-access-solid" data-inline="false"></span> Accessibility</h2>
                        <p>Checks for common issues that may prevent users from accessing your content.</p>
                    </div>
                    <!-- Procedures -->
                    <div class="reportBox">
                        <div class="desktop">
                            <span class="iconify" data-icon="fe:desktop" data-inline="false"></span>
                            <h3>{{ report.practicesScore }}</h3>
                            {% if reportPrev.exists == 1 %}
                                    <p class="compare">{{ report.practicesScore - reportPrev.practicesScore }}</p>
                            {% endif %}
                        </div>
                        <!-- <div class="mobile">
                            <span class="iconify" data-icon="bx:bx-mobile-alt" data-inline="false"></span>
                            <h3>99</h3>
                            <p class="compare">+11</p>
                        </div> -->
                        <h2><span class="iconify" data-icon="ant-design:code-outlined" data-inline="false"></span> Procedures</h2>
                        <p>Looks for everything from HTTPS usage to correct image aspect ratios.</p>
                    </div>
                    <!-- SEO -->
                    <div class="reportBox">
                        <div class="desktop">
                            <span class="iconify" data-icon="fe:desktop" data-inline="false"></span>
                            <h3>{{ report.seoScore }}</h3>
                            {% if reportPrev.exists == 1 %}
                                    <p class="compare">{{ reportPrev.seoScore - report.seoScore }}</p>
                            {% endif %}
                        </div>
                        <!-- <div class="mobile">
                            <span class="iconify" data-icon="bx:bx-mobile-alt" data-inline="false"></span>
                            <h3>99</h3>
                            <p class="compare">+11</p>
                        </div> -->
                        <h2><span class="iconify" data-icon="mdi:credit-card-search-outline" data-inline="false"></span> SEO</h2>
                        <p>This is how SEO has been implemented in your code.</p>
                    </div>
                </div>
                <div class="smallBoxesContainer">
                    <div class="reportBoxSmall">
                        <h3>{{ report.webSizeMB }} Mb.</h3>
                        {% if reportPrev.exists == 1 %}
                            <p class="compare">{{ report.webSizeMB - reportPrev.webSizeMB }}</p>
                        {% endif %}
                        <h2><span class="iconify" data-icon="la:weight-solid" data-inline="false"></span> Size</h2>
                        <p>This is the size of all HTML code on your web page, this size does not include external javascripts or external CSS files. </p>
                    </div>
                    <div class="reportBoxSmall">
                        <h3>{{ report.linksAmount }}</h3>
                        {% if reportPrev.exists == 1 %}
                            <p class="compare">{{ report.linksAmount - reportPrev.linksAmount }}</p>
                        {% endif %}
                        <h2><span class="iconify" data-icon="bx:bx-link" data-inline="false"></span> Dead Links</h2>
                        <p>This is the links dead, be aware users can be annoyed if a link doesn't work!</p>
                    </div>
                    <div class="reportBoxSmall">
                        <h3>{{ report.altScoreAmount }}</h3>
                        {% if reportPrev.exists == 1 %}
                            <p class="compare">{{ report.altScoreAmount - reportPrev.altScoreAmount }}</p>
                        {% endif %}
                        <h2><span class="iconify" data-icon="bx:bx-message-alt-detail" data-inline="false"></span> ALT Property</h2>
                        <p>To apply a good SEO the alternative image text must have a descriptive name.</p>
                    </div>
                </div>
            </div>
            <div class="containerReport previousReports">
                
                {% if reportPrev.exists == 0 %}
                
                    <h2>Previous audit</h2>
                    <h3>No previous audits carried out...</h3>

                {% else %}

                    <h2>Previous audit - {{ report.date }} </h2>
                
                    <div class="report">
                        <div class="boxesContainer">
                            <!-- Performance -->
                            <div class="reportBox">
                                <div class="desktop">
                                    <span class="iconify" data-icon="fe:desktop" data-inline="false"></span>
                                    <h3>{{ reportPrev.performanceScore }}</h3>
                                </div>

                                <h2><span class="iconify" data-icon="gg:performance" data-inline="false"></span> Performance</h2>
                            </div>
                            <!-- Accesibility -->
                            <div class="reportBox">
                                <div class="desktop">
                                    <span class="iconify" data-icon="fe:desktop" data-inline="false"></span>
                                    <h3>{{ reportPrev.accessibilityScore }}</h3>
                                </div>

                                <h2><span class="iconify" data-icon="la:universal-access-solid" data-inline="false"></span> Accesibility</h2>
                            </div>
                            <!-- Procedures -->
                            <div class="reportBox">
                                <div class="desktop">
                                    <span class="iconify" data-icon="fe:desktop" data-inline="false"></span>
                                    <h3>{{ reportPrev.practicesScore }}</h3>
                                </div>

                                <h2><span class="iconify" data-icon="ant-design:code-outlined" data-inline="false"></span> Procedures</h2>
                            </div>
                            <!-- SEO -->
                            <div class="reportBox">
                                <div class="desktop">
                                    <span class="iconify" data-icon="fe:desktop" data-inline="false"></span>
                                    <h3>{{ reportPrev.seoScore }}</h3>
                                </div>

                                <h2><span class="iconify" data-icon="mdi:credit-card-search-outline" data-inline="false"></span> SEO</h2>
                            </div>
                        </div>
                        <div class="smallBoxesContainer">
                            <div class="reportBoxSmall">
                                <h3>{{ reportPrev.webSizeMB }} Mb.</h3>
                                <h2><span class="iconify" data-icon="la:weight-solid" data-inline="false"></span> Size</h2>
                            </div>
                            <div class="reportBoxSmall">
                                <h3>{{ reportPrev.linksAmount }}</h3>
                                <h2><span class="iconify" data-icon="bx:bx-link" data-inline="false"></span> Dead Links</h2>
                            </div>
                            <div class="reportBoxSmall">
                                <h3>{{ reportPrev.altScoreAmount }}</h3>
                                <h2><span class="iconify" data-icon="bx:bx-message-alt-detail" data-inline="false"></span> ALT Property</h2>
                            </div>
                        </div>
                    
                {% endif %}

                    
                </div>











        </main>

    {% include "footer.html" %}




</body>

</html>