{% if url == "error" %}
<h1>Hello {{ url }}!</h1>
{% else %}
<!-- <h1>No url provided...</h1> -->
{% endif %}





{% include "htmlHeaders.html" %}

<body>
    {% include "nav.html" %}

<body>
    <main>
        <div class="containerReport">
            <h1>{{ url }}</h1>
            <div class="report">
                <div class="boxesContainer">
                    <!-- Performance -->
                    <div class="reportBox">
                        <div class="desktop">
                            <span class="iconify" data-icon="fe:desktop" data-inline="false"></span>
                            <h3>99</h3>
                            <p class="compare">+11</p>
                        </div>
                        <div class="mobile">
                            <span class="iconify" data-icon="bx:bx-mobile-alt" data-inline="false"></span>
                            <h3>99</h3>
                            <p class="compare">+11</p>
                        </div>
                        <h2><span class="iconify" data-icon="gg:performance" data-inline="false"></span> Performance</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, modi.</p>
                    </div>
                    <!-- Accesibility -->
                    <div class="reportBox">
                        <div class="desktop">
                            <span class="iconify" data-icon="fe:desktop" data-inline="false"></span>
                            <h3>99</h3>
                            <p class="compare">+11</p>
                        </div>
                        <div class="mobile">
                            <span class="iconify" data-icon="bx:bx-mobile-alt" data-inline="false"></span>
                            <h3>99</h3>
                            <p class="compare">+11</p>
                        </div>
                        <h2><span class="iconify" data-icon="la:universal-access-solid" data-inline="false"></span> Accesibility</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, modi.</p>
                    </div>
                    <!-- Procedures -->
                    <div class="reportBox">
                        <div class="desktop">
                            <span class="iconify" data-icon="fe:desktop" data-inline="false"></span>
                            <h3>99</h3>
                            <p class="compare">+11</p>
                        </div>
                        <div class="mobile">
                            <span class="iconify" data-icon="bx:bx-mobile-alt" data-inline="false"></span>
                            <h3>99</h3>
                            <p class="compare">+11</p>
                        </div>
                        <h2><span class="iconify" data-icon="ant-design:code-outlined" data-inline="false"></span> Procedures</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, modi.</p>
                    </div>
                    <!-- SEO -->
                    <div class="reportBox">
                        <div class="desktop">
                            <span class="iconify" data-icon="fe:desktop" data-inline="false"></span>
                            <h3>99</h3>
                            <p class="compare">+11</p>
                        </div>
                        <div class="mobile">
                            <span class="iconify" data-icon="bx:bx-mobile-alt" data-inline="false"></span>
                            <h3>99</h3>
                            <p class="compare">+11</p>
                        </div>
                        <h2><span class="iconify" data-icon="mdi:credit-card-search-outline" data-inline="false"></span> SEO</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, modi.</p>
                    </div>
                </div>
                <div class="smallBoxesContainer">
                    <div class="reportBoxSmall">
                        <h3>99</h3>
                        <p class="compare">+11</p>
                        <h2><span class="iconify" data-icon="la:weight-solid" data-inline="false"></span> Size</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, modi.</p>
                    </div>
                    <div class="reportBoxSmall">
                        <h3>99</h3>
                        <p class="compare">+11</p>
                        <h2><span class="iconify" data-icon="bx:bx-link" data-inline="false"></span> Dead Links</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, modi.</p>
                    </div>
                    <div class="reportBoxSmall">
                        <h3>99</h3>
                        <p class="compare">+11</p>
                        <h2><span class="iconify" data-icon="bx:bx-message-alt-detail" data-inline="false"></span> ALT Property</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, modi.</p>
                    </div>
                </div>
            </div>
    </main>

    {% include "footer.html" %}




</body>

</html>